body{
    height: 100vh;
}
.wrapper{
    height: calc(100vh - 64px);
    margin-bottom: 0;
}
.panel-izquierda{
    position: relative;
    height: 100%;
    overflow: auto;
}
.panel-derecha{
    position: relative;
    height: 100%;
    border-left: 2px solid #e0e0e0;
}
.titulo{
    padding: 15px !important;
}
.no-margin{
    margin: 0;
}
.message-wrapper{
    height: calc(100% - 140px);
    overflow: auto;
    padding-bottom: 20px;
}
.input{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    left: 0;
    right: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0;
    padding-left: 0;
}
.estatus{
    text-align: right;
    font-size: 0.7em;
    color: #747272;
}
#button-enviar{
    height: 100%;
    position: absolute;
    padding-top: 1.5rem;
}