body{
    height: 100vh;
    overflow: hidden;
}
.wrapper{
    height: calc(100vh - 64px);
    margin-bottom: 0;
}
.panel-izquierda{
    position: relative;
    height: 100%;
    overflow: auto;
}
.panel-derecha{
    position: relative;
    height: 100%;
    border-left: 2px solid #e0e0e0;
}
.titulo{
    padding: 15px !important;
    font-weight: 700;
}

.collection .collection-item.active {
    background-color: #0D47A1;
    color: #eafaf9;
}

.collection .collection-item.active a {
    color: #eafaf9;
}



.titulo img {
    width: 42px;
    height: 42px;
    overflow: hidden;
    vertical-align: middle;
    float: left;
}
.titulo span {
    padding-left: 10px;
}
.no-margin{
    margin: 0;
}
.message-wrapper{
    height: calc(100vh - 200px);
    overflow: auto;
    padding-bottom: 20px;
}
.input{
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    left: 0;
    right: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-right: 0;
    padding-left: 0;
}
.estatus{
    text-align: right;
    font-size: 0.7em;
    color: #747272;
}
#button-enviar{
    height: 100%;
    position: absolute;
    padding-top: 1.5rem;
}
.icon-position {
    float: right;
    line-height: 1em;
    font-size: 0.8em;
}
.name {
    font-weight: 200;
    color: #747272;
}
.hasMessages {
    font-weight: 700 !important;
}
.imageChat {
    max-height: 300px;
    object-fit: contain;

}
.card-image {
    text-align: center;
    background-color: black;
    cursor: pointer;
}

.fullscreenImage {
    height: 58vh;
    background-color: black;

}
.modal-content {
    text-align: center;
}